* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, black, darkblue)
}
.container {
    background: #b1b1b14c;
    border: 2px solid rgba(255, 255, 255, 0.739);
    box-shadow: 0 0 30px rgb(255, 0, 0);
    border-radius: 20px;
    width: 90vw;
    height: 90vh;
    overflow: hidden; 
}
.container h1 {
    color: white;
    text-align: center;
    background-color: rgb(0, 200, 255);
}
.content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.table {
    margin-top: 25px;
    margin-left: 10px;
    width: 75%;
    height: 85%; 
    overflow-y: auto;
    border-radius: 30px;
}
.table::-webkit-scrollbar {width: 1px;}
.table::-webkit-scrollbar-thumb {background-color: transparent;}
.table table{
    width: 100%;
    border-collapse: collapse;
    color: black;
}
.table table tr:nth-child(even) {background-color: #f2f2f2;}
.table table tr:nth-child(odd) {background-color: white;}
.table table th{
    color: white;
    background-color: rgb(0, 200, 255);
}
.table table td {padding: 0 10px;}
.tambah-buku {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
    margin-right: 10px;
    width: 21%;
    height: 70%;
    background-color: rgb(0, 200, 255);
    font-weight: bold;
    border-radius: 30px;
    color: white;
    padding: 20px 0;
}
.tambah-buku input[type="submit"] {
    padding: 5px;
    display: block;
    margin: 10px auto;
    border-radius: 2rem;
    border: 2px solid white;
    background-color: white;
    font-weight: bold;
}
.tambah-buku input[type="submit"]:hover{
    background-color: rgb(0, 200, 255);
    border: 2px solid white;
    color: white;
}